<header class="header">
  <div class="left-section">
    <img class="temple-logo" src="" alt="temple-logo">
    <p class="action-1"> Action 1</p>
    <p class="action-2"> Action 2</p>
    <p class="action-3"> Action 3</p>
    <p class="action-4"> Action 4</p>
  </div>
  <div class="middle-section">
    <div class="search-container">
      <img class="search-icon" src="../../assets/images/icons/search.svg" alt="search-icon">
    </div>
    <input class="global-search" placeholder="Search temples, pincode" type="text">
  </div>
  <div class="right-section">
    <button class="register"> Register/Log-in</button>
    <button class="post"> &#43; Post</button>
  </div>
</header>
