<div class="home-container">
  <div class="home-description">
    <p class="home-header"> Don't miss out Any Special Occassions </p>
    <p class="home-header-description">Discover number of occassions around temples in tamilnadu in one place</p>
  </div>
  <div class="home-section-tab">
    <div class="left-section">
      <p class="action-1"> Action 1</p>
      <p class="action-2"> Action 2</p>
      <p class="action-3"> Action 3</p>
      <p class="action-4"> Action 4</p>
    </div>
    <div class="right-section">
      <button class="filter-button">Filter</button>
    </div>
  </div>
  <div class="home-temple-card">
    <div class="temple-card-image">
      <div class="card-image-container">
        <img class="card-image" src="" alt="card-image">
      </div>
    </div>
    <div class="temple-card-description">
      <div class="card-description-header">
        <button class="dislike-button">&#8595;</button>
      </div>
      <div class="card-description-title">

      </div>
      <div class="card-description-content">

      </div>
      <div class="card-description-footer">

      </div>
    </div>
  </div>
</div>
